html( lang="en" )

  head
    meta( charset="UTF-8" )
    meta( name="viewport", content="width=device-width, initial-scale=1.0" )

    title Penta Project

    link( rel="shortcut icon", href="img/favicon.png" type="image/png" )

    link( rel="stylesheet", type="text/css", href="styles/style.css" )

    script( src="js/app.js", defer )

  body
