html( lang="en" )

  head
    meta( charset="UTF-8" )
    meta( name="viewport", content="width=device-width, initial-scale=1.0" )

    title Penta Project

    link( rel="shortcut icon", href="data/logo/favicon.png" type="image/png" )

    //- CSS and JS are automatically injected by HtmlWebpackPlugin
    //- Currently disabled, using Pug variables and checks instead
    - const production = self.htmlWebpackPlugin.options.production

    if production
      link( rel="stylesheet", type="text/css", href="style.css" )

    script( src="vendor.js", defer )
    script( src="engine.js", defer )
    script( src="ui.js", defer )

  body
    //- <canvas class="renderer"> goes here

    //- Game overlay, where other things are rendered: logo, menu
    div#root
