{
  "presets": [
    "react",
    ["env", {
      "targets": {
        "browsers": ["electron >= 1.7"]
      },
      "cacheDirectory": true,
      "modules": false,
      "loose": true
    }]
  ],
  "env": {
    "test": {
      "presets": [
        "react",
        ["env", {
          "cacheDirectory": true,
          "modules": "commonjs",
          "loose": true
        }]
      ]
    }
  }
}
