{
  "presets": [
    "flow",
    "react",
    ["env", {
      "targets": {
        "browsers": ["electron >= 2.0"]
      },
      "cacheDirectory": true,
      "modules": false,
      "loose": true
    }]
  ],
  "env": {
    "test": {
      "presets": [
        "flow",
        "react",
        ["env", {
          "targets": {
            "browsers": ["electron >= 2.0"]
          },
          "cacheDirectory": "node_modules/.cache/babel-loader",
          "modules": "commonjs",
          "loose": true
        }]
      ]
    }
  }
}
