{
  "*.js": [
    "prettier",
    "eslint --fix",
    "git add"
  ],
  "*.ts*": [
    "prettier",
    "tslint --fix",
    "git add"
  ],
  "src/js/ui/components/**/*.ts*": [
    "stylelint",
    "git add"
  ],
  "*.css": [
    "stylelint --fix",
    "git add"
  ]
}
