{
  "extends": "stylelint-config-standard",
  "rules": {
    "indentation": 2,
    "selector-pseudo-class-no-unknown": true,
    "unit-whitelist": [
      ["em", "rem", "%", "s", "ms"],
      {
        "ignoreProperties": {
          "px": ["background-position"]
        }
      }
    ]
  }
}
