/*
Color pallet
stylelint-disable declaration-block-semicolon-newline-after
*/
$ui__bg:          #111;
$ui__bg--menu:    #1a1a1a;
$ui__bg--active1: #1d1f21;
$ui__bg--active2: #282a2e;
$ui__bg--active3: #373b41;

$ui__font--desc:  #c5c8c6;
$ui__font:        white;

$ui__accent:      darkgoldenrod;
$ui__hp:          #b82739;
$ui__eg:          #08637e;
