@import url('https://fonts.googleapis.com/css?family=Play:400,700|Raleway:300,400,700');

$font__default: 'Raleway', Arial, Helvetica, sans-serif;
$font__ingame: 'Play', monospace;

.font__default {
  font-family: $font__default;
}

.font__ingame {
  font-family: $font__ingame;
}
