/*
`post-css` loader is used to handle the `@import`. To import CSS from
`node_modules` with `css-loader` default handler use the following syntax:
  @import "~normalize.css/normalize.css";
*/
@import "effects.css";
@import "colors.css";
@import "fonts.css";

$screenSize: 100%;

html,
body,
#root {
  width: $screenSize;
  height: $screenSize;
  margin: 0;
  overflow: hidden;
}

body {
  background-color: $ui__bg;
  font-family: $font__default;
  text-rendering: optimizeLegibility;
  user-select: none;
  cursor: default;
}

#root {
  position: absolute;
}
