{
  "processors": ["stylelint-processor-styled-components"],
  "extends": "stylelint-config-standard",
  "syntax": "scss",
  "rules": {
    "indentation": 2,
    "unit-whitelist": [ "px", "em", "rem", "%", "s", "ms" ],
    "block-closing-brace-space-before": "never-single-line",
    "block-opening-brace-space-after": "never-single-line"
  }
}
